---
import Layout from "./Layout.astro";
const { post } = Astro.props;

---

<Layout pageTitle={post.title}>
  <p>{post.description}</p>
  <p>Written by {post.author}</p>
  <img src={post.image.url} alt={post.image.alt} width="30%" />
  <p class="date">Published on {post.pubDate.toString().slice(0, 10)}</p>
  <p>Tags: {post.tags.join(", ")}</p>
  <slot />
  {
    <ul class="tags">
      {post.tags.map((tag: string) => (
        <li class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))}
    </ul>
  }
</Layout>
<style>
  .date {
    color: #666;
    font-style: italic;
  }
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    list-style: none;
    background-color: #f8fcfd;
  }
</style>
